# Byte-compiled / optimized / DLL files
__pycache__/
FlightAPI/__pycache__/
FlightAPI/migrations/__pycache__/
FlightCRM/__pycache__/

# Migration files
*/migrations/*.py
!*/migrations/__init__.py


# Database
db.sqlite3

# Static files
static/
staticfiles/jazzmin/
staticfiles/rest_framework/
staticfiles/vendor/
